.sideBar {
    width: 100vw;
    box-sizing: border-box;
    padding-right: 2px;
    padding-left: 2px;
    
   
}
.buscador{
    display: flex;
    position: static;
    width: 359px;
}

.buscador .sideBar{
 
    width: 200px;
    
    
}
ul{
    margin: 0;
}
.buscador .sideBar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,255,255,0.05); 
    list-style: none;
    text-decoration: none;
    
}

.todos{
    background-color: rgba(32, 7, 56, 0.356);
    border-color: rgb(35, 6, 49);
    color: rgb(228, 220, 220);
    background: #292828;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
}
.todos:hover{
  background: rgba(11, 9, 14, 0.377);
  border-color: darkgray;
}
/* BOton flotante */
  


.float-nav {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999999;
  
}
.float-nav:hover {
cursor:pointer;
}



.flotanSidear{
  display: flex;
  border-radius: 50px !important;
  height: 50px;
 
}

.navbar-toggler {
  font-size: 20px;
}


@media (min-width: 1000px) {
  .float-nav{ 
    display: none;
  }

}