.containerlogin{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 3.2%;

}
.seccionIzquierdalogin{
    width: 800px;
    height:700px;
    background-color: blue;
    border-radius: 1%;
}
.seccionDerechalogin{
    display: flex;
    background-color: var(--negro);
    height: 700px;
    width: 400px;
    align-items: center;
    justify-content: center;
    border-radius: 1%;
    flex-direction: column;
    
}
.h2login{
    font-size: 200%;
}
.imacarroll{
    width: 800px;
    height:700px;
    object-fit: cover;
}

@media (max-width:1000px) {
    .seccionIzquierdalogin {
        display: none;
    }
    .seccionDerechalogin{
        height:90vh;
    }
  }