#HeaderComponentbx{
  display: flex;
  background-color:var( --negro);
  text-align: center;
  color: var(--blanco);
  height: 90px;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  
}