
.MovilListArticulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 600px) {
    .MovilListArticulos{
      display: none;
    }
}

@media (max-width: 600px) {
    #tableListArticulo{
      display: none;
    }
}

