.pic { 
    width:120px;
    height: 120px;
     margin-left: 10px; 
     color: var(--blanco);
}

.name1 {
  /*   border: 1px solid black; */
    border-radius: 5px;
    margin: 5px;
    width: 166px;
    height: 217px;
     display: flex;
    flex-direction: column; 
    margin-top: 20px;
    background-color:#00000082;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(246, 183, 21);
}

.name1:hover {
   
    transform: scale(1.05) translate(1px, 2px);
    
    
    
}
.name {
   
   
    font-weight: 600; 
}
.divDietsNames {
  
    font-size: 12px;
    font-weight: 200; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0px;
    justify-content: space-around;
}
