.containerPag{
    
    width: 90%;
    background-color: var(--gris1);
    height: 88vh;
    margin: 1%;
    border-radius: 5px;
   
    overflow:auto;
    align-content: center;
    justify-content: center;
    display: flex;
}

@media (max-width: 1000px) {
    .containerPag{
        width: 100%;
    }
  }