footer{
    display: flex;
    float:inline-end ;
    background-color:var(--negro);
    color: aliceblue;
    width: 100%;
    position:relative ;
    bottom:0%;
    padding:1% ;
    text-align: center;
    justify-content: center;
}
@media (max-width:1000px) {
    footer {
        position:relative;
    }
  }
  @media (max-width:600px) {
    footer {
        flex-direction: column;
    }
  }