.busc{
        margin: 3px;
      background-color: var(--negro);   
      border-color: rgba(36, 108, 175, 0.171);
      color: white;
      border-radius: 10px;
      text-align: center;
      
  }
  .busc:hover{
    background: hsla(300, 33%, 1%, 0.616);
    border-color: rgb(208, 226, 45);
  }
.asaidecontainer{
    display: flex;
    flex-direction: column;
}
@media (max-width: 760px) {
  .asideGrande {
    display: none;
  }
}
@media (min-width: 760px) {
  .asidePequenio {
    display: none;
  }
}
