<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<body>
<div layout:fragment="content">
<div class="container">
	<h1 class="text-primary" th:text="${titulo}"></h1>
	<form th:action="@{/createUsuario}" th:object="${usuario}" method="post">
		<table>
		
			<input type="hidden" th:field="*{id}"/>
			<tr>
				<td>Nombre</td>
				<td><input type="text" th:field="*{nombre}" /></td>
			</tr>		
			<tr>
				<td>Usuario</td>
				<td><input type="text" th:field="*{userName}" /></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" th:field="*{password}" /></td>
			</tr>
			<tr>
				<td>E-Mail</td>
				<td><input type="email" th:field="*{email}" /></td>
			</tr>
			<tr>
				<td>Rol</td>
				<td>
					 <!-- select class="form-control" id="rol" name="rol" th:field="*{rol}"-->
				        <!-- option value="">Seleccione Rol</option-->
				        <!-- option th:each="rol : ${roles}"
				                th:value="${rol.id}"
				                th:text="${rol.nombre}"></option-->
	                  <select th:field="*{rolId}">
						  	<option th:each="item : ${roles}" 
						          th:value="${item.id}" 
						          th:text="${item.nombre}"></option>
				   	  </select>
				</td>
			</tr>
			
			<tr>
				<td><input type="submit" value="Crear Usuario"/></td> 
				<td><a class="nav-link" href="/getListUsuario">Regresar</a></td>
			</tr>
		</table>
	</form>
</div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</html>