<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org"-->
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<!-- head>
<meta charset="UTF-8"/>
<title th:text="${titulo}">Titulo</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head-->
<body>
<div layout:fragment="content">
<div class="container">
<h1 class="text-primary" th:text="${titulo}"></h1>

	<a th:href="@{/createUsuario}">Nuevo Rol</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Nombre</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="rol: ${roles}">
				
				<td>
					<a th:href="@{/createRol/} + ${rol.id}" th:text="'Editar'" ></a>
				</td>	
				<td th:text="${rol.nombre}"></td>				
				<td>
					<a th:href="@{/eraseRol/} + ${rol.id}" th:text="'Eliminar'" class="btn btn-danger" onclick="return confirm('Se procederá a eliminar, está seguro?');"></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</html>