.cuerpodetail{
   
    display: flex;
    flex-direction: row;
    height: 92vh;
    background-color:var(--gris3);
    margin: auto;
    align-items: center;
    

}
.mini{  
    border: 2px solid rgb(208, 221, 21);
    display: initial;
    width: 100px;
    height: 100px;
    object-fit: cover;
    
    margin-top: 10px;
    margin-bottom: 10px;
}
.mini:hover{
    transform: scale(1.05) translate(1px, 2px);    
}
.grande{
    display: block;
    max-width: 500px;
    border: 2px solid rgb(208, 221, 21) !important ;
}

.descripderecho{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    
    
}
.partemedia{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.colodetail{
    background-color: var(--gris1);
    border: 2px solid rgb(208, 221, 21) !important ;
}
.agarratodo{
    background-color:#00000042;
    padding: 2%;
    border-radius: 1%;
}
.cuerpodetailMovil{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.descripderechoMovil{
    background-color: rgba(0, 0, 0, 0.63);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left:50px;
    padding-right:50px;
    border: 2px solid rgb(208, 221, 21) !important ;
}
@media (max-width: 1000px) {
    .cuerpodetail {
      display: none;
    }
  }
@media (min-width: 1000px) {
    .cuerpodetailMovil {
      display: none;
    }
  }
